<h1>New poll</h1>

<%=form_for @poll, action: "create" do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label "Custom URL (optional)"%>
<%= f.text_field :public_url %>
<br>
<%= f.submit "Create my poll"%>

<% end %>

